.calculator {
  display: grid;
  grid-template-columns: repeat(4, 100px) ;
  background-color: dodgerblue;
  padding: 10px;
  gap: 5px;
  width: 420px;
  margin: 10px;
}

.calculator button {
  background-color: #f1f1f1;
  color: #000;
  padding: 20px;
  font-size: 45px;
  text-align: center;

}

#display {
  width: 70%;
  height: 40px;
  font-size: 30px;

}







